<html>
	<head>
		<title>Buchmendel</title>
	</head>
	<body>
		<div>
			<h1><a href="">Buchmendel. Il Mendel dei libri</a></h1>
		</div>

		<div>
			<h2><a href="">Norbert C. Kaser</a></h2>
			<p>venedigs nachmittag.

				venedigs kinderwaegen
				muessen sehr stabil sein,
				weil sie die mutter
				geschickt ueber die stufen
				der brucken springen lassen.

				die kinder prasseln, 
				auf rollschuhen,
				ueber die kleine plaetze.</p>

		<div>
			<p>published: 04/07/15, 17:26</p>

		<div>



</html>